.button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 10px 0 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    border: 1px black;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus {
        background-color: white;
        color: black;
        box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.4);
        border: none;
        outline: 0;
    }

    .button__text {
        display: inline-block;
        vertical-align: middle;
        padding: 0 24px;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Open Sans Condensed', serif;
    }

    .google-sign-in__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 8px 0 8px 8px;
        width: 18px;
        height: 18px;
        box-sizing: border-box;
    }
}
